---
import { Image } from "astro:assets";
import logo from "../img/logo.svg";

const links = [
  { href: "/", text: "Home" },
  { href: "/about", text: "About" },
  { href: "/blog", text: "Blog" },
];
---

<header class="bg-primary">
  <div class="h-20 container flex justify-between items-center">
    <div class="align-middle">
      <a href="/">
        <Image src={logo} alt="Astro rocket logo" class="h-16 w-32" />
      </a>
    </div>
    <nav>
      <ul class="flex gap-7">
        {
          links.map((link) => (
            <li class="py-3">
              <a href={link.href} class="text-white">
                {link.text}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>
